
ul {
    list-style: none; /* Supprimer les puces de liste */
    margin: 0; /* Supprimer la marge par défaut */
    padding: 10px; /* Espace intérieur */
    text-align: center; /* Centrer le texte horizontalement */
  
  }
  
  li {
    display: inline-block; /* Afficher les éléments en ligne */
    margin-right: 5%; /* Marge à droite entre les éléments */
  }
  
  nav .dropdown {
    position: relative;
  }
  
  nav .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fdc1c1d7;
    padding: 10px;
  }
  
  nav .dropdown:hover .dropdown-content {
    display: block;
  }
  
  a {
    text-decoration: none; /* Supprimer la soulignement par défaut */
    color: rgb(12, 0, 0); /* Couleur du texte */
    font-weight: bold; /* Gras */
    font-size: 16px; /* Taille de la police */
  }
  
  /* Changer la couleur du lien au survol */
  a:hover {
    color: rgb(180, 0, 0); /* Nouvelle couleur au survol */
  }
  
 #nav:hover{
    width: 19%;
    height: 11%;
    transition: 0.5s;
}
